*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background-color: rgba(127, 127, 127, 0.5);
}

* {
  transition: .2s all ease;
}

.divider {
  height: 2px;
  width: 100%;
  max-width: 200px;
  margin: 4px auto;
  background-color: black;
}

.work-area {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 0 5em;
}

/* editor */
.canvas-container {
  width: 100%;
  padding: 16px;
  text-align: center;
}

.canvas-wrap {
  display: inline-block;
  position: relative;
  margin: auto;
  box-shadow: 0 0 0 2px black;
  background-image: url("./transparent.png");
  background-size: 96px;
}

.canvas {
  display: block;
  margin: 0;
}

.canvas:not(:first-child) {
  position: absolute;
  top: 0;
  left: 0;
}

#brushoverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0s all linear;
}

#brushoverlay.mover {
  cursor: move;
}

#cursor {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  pointer-events: none;
  /*background-color: rgba(0, 255, 0, .2);*/
  transition: 0s all linear;
}

#cursor:before {
  /*display: none;*/
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  /*background-color: rgba(255, 0, 0, .2);*/
  transition: 0s all linear;
  border: 2px outset white;
  box-sizing: content-box;
}

#cursor:after {
  /*display: none;*/
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  /*background-color: rgba(255, 0, 0, .2);*/
  transition: 0s all linear;
  box-sizing: content-box;
}

#cursor.pencil:after {
  border: 2px outset black;
}

#cursor.eraser:after {
  border: 2px dashed black;
}

#cursor.select:after {
  border: 2px dotted black;
}

#cursor.mover:after {
  border: 2px dotted black;
}

.tools {}

.brush {
  width: 32px;
  height: 32px;
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
}
.brush.pencil {
  background-image: url("./pencil.png");
}
.brush.eraser {
  background-image: url("./eraser.png");
}
.brush.select {
  background-image: url("./select.png");
}
.brush.mover {
  background-image: url("./mover.png");
}

.brush-show.pencil ~ .brush.pencil,
.brush-show.eraser ~ .brush.eraser,
.brush-show.select ~ .brush.select,
.brush-show.mover ~ .brush.mover
{
  box-shadow: 0 0 0 2px rgba(0, 200, 255, 1);
}

.frames {
  /*display: flex;
  flex-direction: row;
  flex-wrap: wrap;*/
  display: table-caption;
  width: 778px;
  margin-bottom: 8px;
  padding: 4px;
  background-color: white;
  overflow: auto;
}

.frames .frame {
  display: table-cell;
  position: relative;
  height: 72px;
  width: 76px;
  padding-left: 8px;
  padding-top: 4px;
  /*padding-bottom: 2px;*/
  /*background-color: black;*/
  cursor: pointer;
}

.frames .frame.current:after {
  content: "";
  z-index: 1;
  position: absolute;
  top: -4px;
  left: 50%;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid black;
  transform: translate(-50%, 0);
}

.frames .frame img {
  position: relative;
  z-index: 1;
  max-width: 64px;
  max-height: 64px;
}

.frames .frame:before {
  z-index: 0;
  content: "";
  position: absolute;
  top: 4px;
  left: 10px;
  width: 64px;
  height: 64px;
  background-image: url("./transparent.png");
  background-size: 92px;
}

.frames .frame.saved:before {
  box-shadow: 0 0 0 2px rgba(0, 255, 0, 1);
}
.frames .frame.unsaved:before {
  box-shadow: 0 0 0 2px rgba(255, 0, 0, 1);
}

.layers-counter {
  font-weight: bold;
}

button, select, input {
  margin: 4px;
  padding: 8px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: white;
}

input.color {
  width: 50px;
  height: 50px;
}
